@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200;300;400;500;600;700&display=swap');  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #111;
    font-family: 'KoHo', sans-serif;
    scroll-behavior: smooth;
    font-weight: 300;
}

body {
    scroll-behavior: smooth;
}

p {
    font-weight: 300;
    color: #111;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* HEADER */

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:  center;
    background: url(../image/MainCover.jpg);
    background-size: cover;
}

.banner .content {
    max-width: 900px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.banner .content h2 {
    font-size: 5em;
    color: #fff;
    text-shadow: #1D355B 3px 3px 2px;
}

.btn {
    font-size: 1em;
    font-weight: 400;
    width: 40%;
    margin: 0 auto;
    color: #fff;
    background: #6D9CD2;
    display: inline-block;
    padding: 10px 0;
    margin-top: 25px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    border: 3px solid #fff;
}
.btn:hover {
    transform: translateY(-5px);
    background: #4777A6;
}

.down {
    display: inline-block;
    padding: 50px;
    background: url(../image/arrow.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    filter: invert(1);
    position: absolute;
    bottom: 85px;
    left: 50%;
    margin-left: -50px;
    transform: rotate(90deg);
    transition: 0.5s;
}

.down:hover {
    transform: rotate(90deg) translateX(30px);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    padding: 10px 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

header.sticky .logo {
    color: #111;
}

header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    color: #fff;
    font-weight: 400;
    font-size: 1.3em;
    transition: 0.5s;
}

header .navigation li a:hover {
    letter-spacing: 3px;
}

header.sticky .navigation li a {
    color: #111;
}

/* Catégorie + recettes + producteur*/

#titleHead h2 {
    font-size: 2.5em;
}

#titleHead p {
    margin-top: 10px;
    font-size: 1.3em;
}

.categorie .title {
    padding-top: 80px;
}

.categorie .title h2 {
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 3px;
}

.categorie .title p {
    padding-top: 5px;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 2px;
}

.categorie .content,
.menu .content,
.product .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}

.menu {
    padding-top: 75px;
}

.product {
    margin-bottom: 50px;
}

.menu .content {
    width: 80%;
    margin: 0 auto;
}

#navCat {
    margin-top: 15px;
}

#navCatBis {
    margin-top: 0px;
}

.categorie .content {
    flex-direction: row;
}

.categorie .content .box,
.menu .content .box,
.product .content .box{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
    transition: 0.6s;
}

.categorie .content .box {
    width: 200px
}

.categorie .content .box:hover,
.menu .content .box:hover,
.product .content .box:hover {
    transform: translateY(-10px);
}

.categorie .content .box .imgBx,
.menu .content .box .imgBx,
.product .content .box .imgBx {
    position: relative;
    width: 100%;
    height: 300px;
}

.categorie .content .box .imgBx {
    height: 170px;
}

.categorie .content .box .imgBx img,
.menu .content .box .imgBx img,
.product .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.categorie .content .box .text,
.menu .content .box .text,
.product .content .box .text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
    padding: 5px 0 5px 5px;
    background: #f5f5f5;
}

.categorie .content .box .text h3
.menu .content .box .text h3,
.product .content .box .text h3 {
    font-weight: 400;
    color: #111;   
}

.menu .btn,
.product .btn {
    font-size: 1em;
    font-weight: 400;
    color: #fff;
    width: 18%;
    background: #6D9CD2;
    display: inline-block;
    padding: 10px 0;
    margin-top: 25px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    border: 3px solid #fff;
    text-align: center;
}
.menu .btn:hover {
    transform: translateY(-5px);
    background: #4777A6;
}

/* NewLetters */

.newletters {
    width: 100%;
    background: #6D9CD4;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 50px 0;
}

.newletters h2 {    
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 3px;
    font-weight: 400;
}

.newletters p {
    color: whitesmoke;
    font-size: 1.3em;
    letter-spacing: 2px;
    font-weight: 300;
}

.newletters strong {
    color: whitesmoke;
    font-weight: 500;
}

.newletters form {
    margin-top: 20px;
}

.newletters form input {
    font-size: 1em;
    font-weight: 400;
    display: inline-block;
    padding: 5px 5px;
    letter-spacing: 2px;
    transition: 0.5s;
    border: 3px solid #fff;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
}

#form_email {
    width: 300px;
}

.newletters form input[type="submit"] {
    color: #fff;
    padding: 5px 15px;
    background: #99bee9;
    margin: 0;
}
.newletters form input[type="submit"]:hover {
    background: #4777A6;
}

/* Footer */

footer {
    background-color: #418BC8;
    height: 100px;
}

@media (max-width: 991px) {

    header,
    header.sticky {
        padding: 10px 20px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        width: 100%;
        height: calc(100% - 60px);
        position: fixed;
        top: 60px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }

    header .navigation li {
        margin-left: 0;
    }

    header .navigation li a {
        color: #111;
        font-size: 1.6em
    }
    
    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../image/toggle.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        filter: invert(1);
    }

    .menuToggle.active {
        background: url(../image/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header.sticky .menuToggle {
        filter: invert(0);
    }

    section {
        padding: 20px;
    }

    .banner .content h2 {
        font-size: 3em;
        color: #fff;
    }

    .menu .content {
        margin-top: 20px;
    }

    .menu .content .box {
        margin: 12px;
    }

    .product .content .box {
        margin: 15px;
    }

    .btn {
        width: 60%;
    }

    .menu .btn, .product .btn {
        width: 50%;
    }

    .newletters {
        padding: 20px;
    }

    #titleHead p {
        font-size: 1.2em;
    }
}

@media (max-width: 481px) {
    .banner .content h2 {
        font-size: 2.2em;
        color: #fff;
    }
}