@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200;300;400;500;600;700&display=swap');  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #111;
    font-family: 'KoHo', sans-serif;
    scroll-behavior: smooth;
    font-weight: 300;
}

body {
    scroll-behavior: smooth;
}

p {
    font-weight: 300;
    color: #111;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    padding: 10px 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

header.sticky .logo {
    color: #111;
}

header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    color: #fff;
    font-weight: 400;
    font-size: 1.3em;
    transition: 0.5s;
}

header .navigation li a:hover {
    letter-spacing: 3px;
}

header.sticky .navigation li a {
    color: #111;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../image/MainCover.jpg);
    background-position: bottom 510px right 0;
}

.banner .content h2 {
    font-size: 3em;
    color: #fff;
    text-shadow: #1D355B 3px 3px 2px;
}

main #topDiv {
    width: 100%;
}

main #banniere {
    width: 100%;
    z-index: 0;
}

.head p,
.head h3 {
    margin-top: 10px;
}

main h1 {
    text-align: center;
    z-index: 10;
    width: 35%;
    margin: auto;
    background-color: #6D9CD4;
    color: #ffffff;
    border-radius: 5px;
    padding: 1%;
}

main article {
    margin: 0 auto;
    width: 80%;
    border: #111 2px solid;
    padding: 10px;
    border-radius: 20px;
    margin-top: 1%;
    background-color: white;
}

main #imgPlat {
    text-align: center;
    margin-top: 50px;
}

main #imgPlat img {
    width: 85%;
    box-shadow: 5px -5px #6D9CD4;
    transition: 0.5s;
}

main #imgPlat img:hover {
    box-shadow: 10px -10px #418BC8;
}

main .infosPlats {
    margin: 0 auto;
    width: 85%;
    border: #111 2px solid;
    box-shadow: 5px -5px #6D9CD4;
    background-color: #F5F5F5;
    transition: 0.8s;
}

main .timers p {
    text-decoration: underline;
}

main .infosPlats:hover{
    box-shadow: 10px -10px #418BC8;
}

main h2 {
    margin: auto;
    text-align: center;
    width: 25%;
    background-color: #6D9CD4;
    color: #ffffff;
    padding: 1%;
    margin-top: 2%;
    border-radius: 5px;
}

main h5 {
    font-weight: bold;
}

main #flex {
    display: flex;
    flex-direction: column;
}

main .timers {
    display: inline-flex;
    justify-content: space-around;
}

main .separateur {
    border: #111 solid 1px;
}

main .infosBas {
    display: flex;
    justify-content: space-around;
}

main .flex {
    display: flex;
}

main .flex img {
    margin-left: 2px;
}

#instructions p{
    text-decoration: underline;
}

main #instructions p:hover{
    color: #ffffff;
    background-color: #418BC8;
    cursor: pointer;
    padding: 4px;
}

main .instruction p {
    font-size: 1.2em;
}

main .instruction h5 {
    font-size: 1.2em;
}

main .ingredient li {
    display: block;
    font-size: 1.3em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 500;
}

@media (max-width: 991px) {

    header,
    header.sticky {
        padding: 10px 20px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        width: 100%;
        height: calc(100% - 60px);
        position: fixed;
        top: 60px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }

    header .navigation li {
        margin-left: 0;
    }

    header .navigation li a {
        color: #111;
        font-size: 1.6em
    }
    
    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../image/toggle.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        filter: invert(1);
    }

    .menuToggle.active {
        background: url(../image/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header.sticky .menuToggle {
        filter: invert(0);
    }

    
}