{% extends 'base.html.twig' %}

{% block title %}Le Coins du Pécheur - Accueil{% endblock %}

{% block body %}

    {% block header %}
         <img src="../image/MainCover.jpg" alt="">

        <div class="main_cover">
            <h1>Bienvenue</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing
                elit. Sunt et doloribus officia veritatis, quod iure
                eum earum autem odit dolorem. Animi alias dicta ipsa,
                id iusto magni deserunt aperiam expedita.
            </p>
            <button class="down_scroll" type="button"></button>
        </div>
    {% endblock %}

{% endblock %}
